<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yusuff Mustapha">
    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
            <h1 class="text-center text-uppercase text-info" style="font-size: 80px; font-weight: 200;">
               Welcome!
            </h1>
            <p class="text-center text-dark">
                This is the homepage of this boilerplate. Enjoy!
            </p>
    </div>
</body>
</html>